@import url('reset.css');
* {
    margin: 0px;
    padding: 0%;
}

body {
    height: 100%;
    width: 100%;
    background: url(../imag/imag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    margin-top: 40px;
}

form {
    width: 380px;
    height: 400px;
    background: #0563f1;
    margin-top: 80px;
    margin-left: 500px;
    border-radius: 9px;
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-top: 21px;
    margin-left: 11px;
    font-weight: bold;
}

.input {
    text-align: center;
}

.usua {
    width: 250px;
    height: 20px;
    text-align: center;
    margin-left: 45px;
    margin-top: -19px;
}

.btn {
    width: 180px;
    height: 30px;
    margin-top: 23px;
    margin-left: 16px;
    border-radius: 9px;
    background: #ff8b00;
    border: 1px solid #ff8b00;
    color: #fff;
    font-weight: bold;
}

.btn:hover {
    color: #1883ba;
    background-color: #01455A;
}