@import url('reset.css');
* {
    margin: 0px;
    padding: 0%;
}

body {
    height: 100%;
    width: 100%;
    background: url(../imag/estudiantes.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    width: 55%;
    height: 440px;
    margin-top: 70px;
    margin-left: 400px;
    align-items: center;
    padding-bottom: 34px;
}

table {
    width: 660px;
    height: 145px;
    margin-top: 45px;
}

table,
tr,
th,
td {
    background-color: blue;
    color: black;
    border: 1px solid black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

|th {
    border: 1px solid black;
}

.imprimir {
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.imprimir:hover {
    color: #1883ba;
    background-color: #ffffff;
}

.pdf {
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0
}

.pdf:hover {
    color: #1883ba;
    background-color: #ffffff;
}

.nuevo {
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0
}

.nuevo:hover {
    color: #1883ba;
    background-color: #ffffff;
}